/* Petits appareils (smartphones) */
@media (max-width: 576px) {
    
    
    
    body{
        background-image:url("img/Malenia.png");
        background-repeat: no-repeat;
        background-size: 300%;
        background-position-y:-10px;
        background-color:indianred
        }
    .fromsoft{
        padding-top: 2rem;
        margin-left: 1rem;
        }
    
    .Elden_Ring{
        margin-top: -8rem;
        margin-left: 1rem;
    
    }
    
    h1{
        background-color: rgb(81, 17, 30);
        text-align: center;
        color:azure;
        margin-top: 120px;
        padding-left: 250%;
        font-family: "Pirata One", system-ui; 
        font-size: 300%;  
    }
    
    
    h2{
        font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
        font-size: 500%;
        color: aliceblue;
    }
    
    .Zone_Titre{
        position: absolute;
        top: 15%;
        left: 190%;
        font-size: 400%;
    
    }
    .img_gif{
        width: 200%;
        margin-left:150%;
    }

    
    .video{
        margin-left: 85%;
        margin-top:80%;
    }

}

/* Moyens appareils (tablettes portrait) */
@media (min-width: 577px) and (max-width: 768px) {
    body{
        background-image:url("img/Malenia.png");
        background-repeat: no-repeat;
        background-size: 185%;
        background-position-y:-10px;
        background-color:indianred
        }
    .fromsoft{
        padding-top: 2rem;
        margin-left: 1rem;
        }
    
    .Elden_Ring{
        margin-top: -8rem;
        margin-left: 5rem;
    
    }
    
    h1{
        background-color: rgb(81, 17, 30);
        text-align: center;
        color:azure;
        margin-top: 210px;  
        font-family: "Pirata One", system-ui; 
        font-size: 300%;  
    }
    
    
    h2{
        font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
        font-size: 500%;
        color: aliceblue;
    }
    
    .Zone_Titre{
        position: absolute;
        top: 3%;
        left: 70%;
    
    }
    
    .img_gif{
        width: 100%;
        margin-left: 60%;
    }
    
    .video{
        margin-left: 50%;
        margin-top:15%;
    }




}
/* Tablettes en mode paysage ou petits laptops */
@media (min-width: 769px) and (max-width: 992px) {

    body{
        background-image:url("img/Malenia.png");
        background-repeat: no-repeat;
        background-size: 150%;
        background-position-y:-10px;
        background-color:indianred
        }
    .fromsoft{
        padding-top: 2rem;
        margin-left: 1rem;
        }
    
    .Elden_Ring{
        margin-top: -8rem;
        margin-left: 12rem;
    
    }
    
    h1{
        background-color: rgb(81, 17, 30);
        text-align: center;
        color:azure;
        margin-top: 190px;
        font-family: "Pirata One", system-ui; 
        font-size: 300%;  
    }
    
    
    h2{
        font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
        font-size: 500%;
        color: aliceblue;
    }
    
    .Elden_Zone {
        display: inline-block;
        position: relative;
    }
    .Zone_Titre{
        position: absolute;
        top: 3%;
        left: 70%;
    
    }
    
    .img_gif{
        width: 100%;
        margin-left: 50%;
    }
    
    #container_gif{
        display: grid;
        grid-template-columns: 1fr 1fr;
        width: 100%;
        height: 100%;   
    }
    
    .video{
        margin-left: 45%;
    }
    


}

  /* Laptops et desktops */
  @media (min-width: 993px) and (max-width: 1200px) {


    body{
        background-image:url("img/Malenia.png");
        background-repeat: no-repeat;
        background-size: 140%;
        background-position-y:-10px;
        background-color:indianred
        }
    .fromsoft{
        padding-top: 2rem;
        margin-left: 1rem;
        }
    
    .Elden_Ring{
        margin-top: -8rem;
        margin-left: 12rem;
    
    }
    
    h1{
        background-color: rgb(81, 17, 30);
        text-align: center;
        color:azure;
        margin-top: 190px;
        font-family: "Pirata One", system-ui; 
        font-size: 300%;  
    }
    
    
    h2{
        font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
        font-size: 500%;
        color: aliceblue;
    }
    
    .Elden_Zone {
        display: inline-block;
        position: relative;
    }
    .Zone_Titre{
        position: absolute;
        top: 3%;
        left: 60%;
    
    }
    
    .img_gif{
        width: 100%;
        margin-left: 40%;
    }
    
    #container_gif{
        display: grid;
        grid-template-columns: 1fr 1fr;
        width: 100%;
        height: 100%;   
    }
    
    .video{
        margin-left: 40%;
    }
    


  }

 /* Grands écrans */
 @media (min-width: 1201px) {

    body{
        background-image:url("img/Malenia.png");
        background-repeat: no-repeat;
        background-size: 120%;
        background-position-y:-10px;
        background-color:indianred
        }
    .fromsoft{
        padding-top: 2rem;
        margin-left: 1rem;
        }
    
    .Elden_Ring{
        margin-top: -8rem;
        margin-left: 12rem;
    
    }
    
    h1{
        background-color: rgb(81, 17, 30);
        text-align: center;
        color:azure;
        margin-top: 250px;
        font-family: "Pirata One", system-ui; 
        font-size: 300%;  
    }
    
    
    h2{
        font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
        font-size: 500%;
        color: aliceblue;
    }
    
    .Elden_Zone {
        display: inline-block;
        position: relative;
    }
    .Zone_Titre{
        position: absolute;
        top: 10%;
        left: 30%;
    
    }
    
    .img_gif{
        width: 100%;
        margin-left: 10%;
    }
    
    #container_gif{
        display: grid;
        grid-template-columns: 1fr 1fr;
        width: 100%;
        height: 100%;   
    }
    
    .video{
        margin-left: 35%;
    }
    


    }